<nav class="navbar is-transparent {{ if .Page.IsHome }}is-hidden-touch{{end}}" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ $.Site.Params.iconLink }}">
      <figure class="image">
        <img alt="" class="is-rounded" src="{{ $.Site.Params.favicon }}">
      </figure>
    </a>
    <a class="navbar-item" href="{{ $.Site.Home.Permalink }}">
      {{ $.Site.Title }}
    </a>
  </div>
  
  <div class="navbar-menu">
    <div class="navbar-start">
      {{ range .Site.Taxonomies.tags }}
      <a class="navbar-item" href="{{ .Page.Permalink }}">
        {{ if (eq .Page.Title (upper .Page.Title )) }}
        {{ .Page.Title  }}
        {{ else }}
        {{ .Page.Title | humanize }}
        {{ end }}
      </a>
      {{ end }}
    </div>
    
    <div class="navbar-end">
      {{ range $.Site.Params.social }}
      <a class="navbar-item" href="{{ .url }}" rel="noopener" target="_blank">
        <span class="icon">
          <img alt="{{ .icon }}" title="{{ .icon }}" src='{{ (resources.Get (printf  "icons/svg/%s.svg" .icon)).Permalink }}'>
        </span>
      </a>
      {{ end }}
      <a class="navbar-item" href="mailto:{{ .Site.Params.email }}" target="_blank">
        <span class="icon">
          <img alt="email" src='{{ (resources.Get "icons/svg/email.svg").Permalink }}'>
        </span>
      </a>
    </div>
  </div>
</nav>
